/*Mobile first*/
* {
    margin: 0;
    padding: 0;
    font: Latin Modern Roman, sans-serif;
}

h2 {
    font-size: 3rem;
}

h3 {
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

header {
    border-bottom: 3px solid black;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: ease-in-out 0.5s;
}

header nav ul li a:hover {
    background-color: #111;
    transition: ease-in-out 0.5s;
    transform: scale(1.15);
}

header .titulos {
    padding: 20px;
    text-align: center;
}
 
.cuerpo p {
    text-align: justify;
    text-justify: inter-word;
    margin: 3% 20%;
}



.cuerpo{
    margin: 3% 20%;
    display: flex;
    flex-direction: column;
}
.secciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.cuerpo .introTexto {
    flex: 1;
    margin: 0 5px;
    border-radius: 40px;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 20rem;
}
        
.cuerpo .introTexto:focus {
    background-color: #ffc2c2;
    border: 4px solid red;
}
    .cuerpo .opcionesIntro{
    margin: 0 10px;
}

.cuerpo .opcionesIntro input {
    margin: 0 10px;
}

.cuerpo .etiqueta {
    flex: 1;
    margin: 5px;
}

.cuerpo .boton {
    background-color: #333;
    color: white;
    padding: 3px;
    width: 9rem;
    border-radius: 40px;
    transition: ease-in-out 0.5s;
    margin: 10px;
}

.cuerpo .boton:hover {
    background-color: #111;
    transition: ease-in-out 0.5s;
    transform: scale(1.15);
}

.cuerpoEtiqueta{
    text-align: center;
}

.etiqueta {
    text-align: center;
    padding: 10px;
}

.etiquetaError{
    padding: 10px;
}

.calendarios {
    text-align: center;
}

.fechaIngreso, .fechaNacimiento {
    margin: 10px 0;
}

.calendarios .introTexto {
    margin: 10px;
    align-self: center;
}

.antiguedad{
    display: flex;
    flex-direction: column;
}

.calendario{
    place-self: center;
}



/*Pantalla grande*/
@media only screen and (min-width: 992px) {
    header nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    .cuerpo .etiqueta {
        text-align: center;
    }

    .calendarios {
        display: inline-flex;
    }

    .secciones{
        flex-direction: row;
        justify-content: center;
    }

    .fechaIngreso, .fechaNacimiento {
        margin: 10px;
    }
    .antiguedad {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .calendarios input{
        flex: 0;
    }

    .calendario{
        margin: 10px 0;
    }

    .mensajeError {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .cajaValidacion {
        text-align: center;
    }

}




